extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    table.table
      thead
        tr
          th Sprite
          th ID
          th League
          th Team
          th Subreddit
          th Custom CSS
          th Actions
      tbody
        each sprite in sprites
          tr
            td=sprite.id
            td
              img(src="/flair/0/sprites/flair-#{sprite.id}.png")
            td=sprite.league
            td=sprite.teamName
            td=sprite.subredditName
            td=sprite.customCSSClass
            td
              a(href="/sprites/update/#{sprite.id}")
                i.icono-gear(style='color:black;')
              a(href="/sprites/delete/#{sprite.id}")
                i.icono-cross(style='color:black;')
