extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    table.table
      thead
        tr
          th Name
          th Moderators
          th Sprites
          th CSS
      tbody
        each subreddit in subreddits
          tr
            td
              a(href='https://reddit.com/r/#{subreddit.subredditName}') #{subreddit.subredditName}
            td
              each mod in subreddit.moderators
                p
                  a(href='https://reddit.com/u/#{mod}') #{mod}
            td
              a(href="/sprites/#{subreddit.subredditName}") Sprites
            td
              a(href="/flair/#{subreddit.subredditName}") CSS
